# The variables defined in here should be defined in any deployment environment.

 AWS_ACCESS_KEY_ID=[See /development/iam/cantaloupe-poc in parameter store]
 AWS_SECRET_ACCESS_KEY=[See /development/iam/cantaloupe-poc in parameter store]
