API_URL=https://api.repo.nypl.org
AUTH_TOKEN=[See /production/iiif/repo_api parameter store in nypl-digital-dev account.]
DB_URL=jdbc:mysql://db:3306/local_filestore_db?useSSL=false
DB_UNAME=root
DB_PASS=password
DEFAULT_IMAGE_PATH=/var/www/images.nypl.org/nypl.jpg
