class Secret
  def self.database_configuration
    {
      url: "jdbc:mysql://prod01-imysql.repo.nypl.org:3306/archive?autoReconnect=true&useSSL=false",
      username: "database_username",
      password: "database_password"
    }
  end
end