class Secret
  # Change this to match whatever you choose to set up your database as.
  def self.database_configuration
    {
      url: 'jdbc:mysql://localhost:3306/local_filestore_db?useSSL=false',
      username: 'root',
      password: ''
    }
  end

  def self.api_configuration
    {
      api_url: 'https://api.repo.nypl.org',
      auth_token: 'yourAPIKeyHere'
    }
  end

  def self.storage_configuration
    {
      default_image_path: '/some/full/path/to/repos/cantaloupe/sample-images/nypl.jpg'
    }
  end
end
